* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  background: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container {
  margin-top: 10%;
  display: grid;
  width: 90vw;
  grid-template-columns: auto;
  row-gap: 20px;
  padding: 10px;
}
.review {
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  color: hsl(217, 19%, 35%);
}
.review.white {
  grid-row: 5;
}
.review.purple {
  background: hsl(263, 55%, 52%) url(./images/bg-pattern-quotation.svg);
  background-position: top 10px right 20px;
  background-repeat: no-repeat;
  color: hsl(210, 46%, 95%);
}
.review.grey {
  background: hsl(217, 19%, 35%);
  color: hsl(210, 46%, 95%);
}
.review.blue {
  background: hsl(219, 29%, 14%);
  color: hsl(210, 46%, 95%);
}
.review-head {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 700;
}
.reviewer-img {
  width: 50px;
  border: 2px solid hsl(210, 46%, 95%, 50%);
  border-radius: 50%;
}
.reviewer-name {
  font-size: 13px;
}
.reviewer-position {
  font-size: 13px;
  opacity: 50%;
}
.reviewer-words {
  margin: 20px 0;
  font-size: 24px;
}
.reviewer-details {
  opacity: 70%;
  font-size: 13px;
}
.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(263, 55%, 52%);
  font-weight: 500;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {

  .container {
    margin-top: 5%;
    width: 82vw;
    padding: 0;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 20px;
  }

  .review.purple {
    grid-column: 1 / span 4;
    background-position: top 10px right 80px;
  }

  .review.white {
    grid-column: 6 / span 1;
    grid-row: 1/ span 2;
    
  }

  .review.review.grey{
    grid-column: 5 / span 1;
  }
 .review.col-1-white{
    grid-column: 1 / span 1;
 }
  .review.blue {
    grid-column: 2 / span 4;
  }
}
